<p>
  Travelling around might confuse you in the end of the year if you want to see where you have been.
  This webapp allows you to track where you wake up. For me it is an example which allows me to
  test-drive the following HTML5-technologies
</p>
<ul>
  <li>yeoman</li>
  <li>Angular JS</li>
  <li>Geolocate the user via webbrowser</li>
  <li>HTML5 offline storage mechanism</li>
  <li>D3 library for simple visualizing the data</li>
</ul>

<p>Have fun using the app.</p>

<p>Any comments you have I would be glad to hear something from you. Just write me something
  on twitter @ehmkah
</p>
