-
<a href="" class="link" ng-click="giveMeThePosition()">Locate Me</a> -
<a href="" class="link" ng-click="showAll()">Dump</a> -
<a href="" class="link" ng-click="dumpCluster()">Cluster</a> -
<a href="" class="link" ng-click="display()">Display Piechart</a> -
<a href="" class="link" ng-click="displayCircles()">Display Circles</a> -
<a href="" class="link" ng-click="clean()">Clean</a> -

<img ng-show="isGeolocating" src="images/red-dot.png"/>
<img ng-hide="isGeolocating" src="images/green-dot.png"/>
{{positions}}

<div id="chart"></div>
